name: Build and Deploy to Hostinger Branch

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Create .env file
        run: |
          echo "VITE_SUPABASE_URL=${{ secrets.VITE_SUPABASE_URL }}" > .env
          echo "VITE_SUPABASE_ANON_KEY=${{ secrets.VITE_SUPABASE_ANON_KEY }}" >> .env

      - name: Build Project
        run: npm run build

      - name: Deploy to Build Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Der Ordner, den der Build-Prozess erstellt
          branch: build # Der Branch, auf den das fertige Ergebnis geschoben wird
